.page-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 0.5rem;
    justify-content: space-between;
}

.page-left-container {
    width: calc(100% - 300px);
}