.seat {

    user-select: none;
    cursor: pointer;
    color: #545454;
    font-size: 12px;
    font-weight: 700;

    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .11), 0 2px 4px 0 rgba(0, 0, 0, .14);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 30);
    background-color: white;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
}

.seat-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-row-gap: 15px;

}

.row-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: rgb(245, 108, 108);
}

.booked {
    background-color: rgb(58, 57, 57);
    cursor: auto;
}